// Entry page styles //

.entry-body {
  @extend %bg-images;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-main {
  position: relative;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $light-text;
    font-size: 4rem;
    margin-top: 4em;
  }

  &__name-input {
    font-size: 3rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 8em;
    border-radius: 10px;
    border: 4px solid black;
  }

  &__button {
    @extend %button-style;
    margin-top: 1rem;
  }

  @include button-hover;

  &__label:before {
    content: ' ';
    position: absolute;
    top: -6rem;
    right: 5%;
    margin: 0 auto;
    background-image: url('../images/crystal-ball.svg');
    background-repeat: no-repeat;
    height: 22rem;
    width: 22rem;
  }
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1350px) {
  .entry-main {
    &__label:before {
      bottom: 20rem;
      right: 4rem;
    }
  }
}

@media only screen and (min-width: 650px) and (max-height: 900px) {
  .entry-main {
    &__label:before {
      left: 9rem;
      top: 1rem;
      background-size: 12rem;
    }
  }
}

@media only screen and (max-width: 650px) {
  .entry-body {
    @include bg-images-mobile;
  }

  .entry-main {
    &__form {
      font-size: 3rem;
    }

    &__name-input {
      width: 10em;
    }

    &__name-input,
    &__button {
      font-size: 2rem;
    }

    &__label:before {
      left: 5rem;
      top: -4rem;
      background-size: 60%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .entry-main {
    &__label:before {
      left: 7rem;
      top: 0rem;
      width: 70%;
    }
  }
}
